@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
  }

:root{
    --cor-primaria:#000748;
    --cor-secundaria:#B0B8FF;
    --cor-texto:#ffff;
    --cor-fundo-form:#f1f1f1;
    --cor-botao:#010953;
    --cor-span:#000000;
    --fundo-formulario: rgba(217, 217, 217, 0.28);
}

a {
  text-decoration: none;
}

.fundo{
    width: 100%;
    height: 100vh;
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: row-reverse;
}

.conteudo {
  background-color: var(--cor-fundo-form);
  width: 50%;
  height: 100%;
  min-width: 470px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.campos {
  width: 80%;
  height: 80%;
  min-width: 450px;
  border-radius: 20px;
  box-shadow: #00000040 1px 1px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.endereco {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
  width: 50%;
  min-width: 150px;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 50%;
  min-width: 150px;
}

span {
  display: flex;
  flex-direction: column;
}

input {
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 220px;
  box-shadow: #00000040 0px 0px 7px;
  text-align: center;
}

.estadoSelect {
  border: solid 2px black;
  height: 30px;
  width: 220px;
}

.cadastrar_btn {
  border: 3px solid #010953;
  border-radius: 10px;
  height: 40px;
  width: 125px;
  font-size: large;
  cursor: pointer;
  transition: all ease-in-out 0.1s;
}

.cadastrar_btn:hover {
  background-color: var(--cor-botao);
  color: var(--cor-fundo-form);
}

.imagem_cadastro {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.inputs {
  display: flex;
  height: 80%;
  width: 100%;
}

.div_btn {
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 15px;
  font-size: small;
  text-decoration: none;
}

.logo {
  height: 20%;
}

.decor_cadastro {
  height: 60%;
}

.btn_voltar {
  height: 30px;
  width: 30px;
  border-radius: 40px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
   align-items: center;
  font-size: 25px;
  cursor: pointer;
  color: var(--cor-fundo-form);
  background-color: #00000060;
  margin: 15px;
  position: absolute;
}

.conteudo img {
  display: none;
}

@media only screen and (max-width: 800px) {
  .conteudo {
    width: 100%;
    background-color: var(--cor-primaria);
    color: var(--cor-fundo-form);
    min-width: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .conteudo img {
    display: flex;
    width: 105px;
    height: 105px;
  }

  .campos {
    background-color: var(--cor-fundo-form);
    color: var(--cor-span);
    display: flex;
  }
  
  .imagem_cadastro {
    display: none;
  }

  .campos {
    min-width: 450px;
  }
}

@media only screen and (max-width: 455px) {

  * {
    overflow-x: scroll;
  }

  .fundo {
    display: flex;
    align-items: center;
  }

  .campos {
    width: 100%;
    height: 100%;
    border-radius: 0;
    align-items: center;
  }

  .conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .conteudo img {
    display: none;
    min-width: none;
  }

  .inputs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    min-width: none;
  }

  .user {
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
    min-width: none;
  }

  .endereco {
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
    min-width: none;
  }

  .inputs span {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: none;
  }

  input {
    width: 70%;
    min-width: none;
  }

  .estadoSelect {
    width: 70%;
  }
}