/* pagina mural */

* {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0px;

}

header {
  text-decoration: none;
  color: #000000;
}

header a {
  text-decoration: none;
}

.menu-lateral {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

nav {
  background-color: #000748;
  width: 15%;
  position: sticky;
  top: 0;
  right: 20%;
  height: 88vh;
  text-align: center;
}

nav a {
  color: #ffffff;

  margin: 10% 0 10% 0;
}

nav ul{
  list-style: none;
  background-color: #060143;
}

body {
  background-color: #f1f1f1;
}

/* .corpo {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: #161618;
  height: 100vh;
  overflow: auto;
} */

.boasVindas {
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-color: #ffffff;
}

.textoBoasVindas {
  margin: 2% 6% 2% 0;
  background-color: #ffffff;
}

.boasVindas img{
  margin: 2% 0 2% 6%;
}