/* pagina mural */

* {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0px;
}

header {
  text-decoration: none;
  color: #000000;
}

header a {
  text-decoration: none;
}

.menu-lateral {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 17%;
  height: 900px;
}

nav {
  background-color: #08115f;
  width: 12%;
  top: 0;
  right: 20%;
  height: 150vh;
  text-align: center;
}

nav a {
  color: #ffffff;
  margin: 10% 0 10% 0;
}

nav li {
  list-style: none;
  background-color: #0f0a3f;
  border-radius: 1px;
  text-align: center;
  text-shadow: #000000 1px 1px 1px;
  width: 170px;
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  display: block;
  top: 1.4em;
  right: 1.5em;
  justify-content: space-around;
  padding-top: 10px;
  margin-block: 20px;
}
li.listaMenu {
  top: 2%;
}

body {
  background-color: #f1f1f1;
}

.boasVindas {
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-color: #ffffff;
  height: 4em;
}

.textoBoasVindas {
  margin: 2% 6% 2% 0;
  background-color: #ffffff;
}

.boasVindas img {
  margin: 2% 0 2% 6%;
}
li#leave {
  width: 120px;
  top: 17.5em;
  left: 0em;
}



/* Estilos para cards superiores */
.cards_superiores {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  width: 75%;
  padding-top: 1%;
  padding-bottom: 1%;
  top: 0;
  margin-top: 5%;
  margin-left: 20%;
  position: absolute;
  border-radius: 9px;
}

.titulos_cards1 {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  width: 23%;
  text-align: center;
}

.titulos_cards1 h1 {
  font-size: 20px;
}

.titulos_cards1 h2 {
  font-size: 30px;
  color: #060143;
}

.graficos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 14px;
  right: 0;
  left: 0;
  top: 11em;
  margin-top: 3%;
  margin-left: 20%;
  position: absolute;
  text-size-adjust: 20px;
  border-radius: 9px;
}

.graficos .BIG {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.BIG h1 {
  font: normal 1.7em Arial;
}


.graficos2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 14px;
  right: 0;
  left: 0;
  top: 32em;
  margin-top: 3%;
  margin-left: 20%;
  position: absolute;
  text-size-adjust: 20px;
  border-radius: 9px;

}

.graficos2 .BIG2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.BIG2 h1 {
  font: normal 1.7em Arial;
}