/* pagina mural */

* {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0px;
  }
  
  .menu-lateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 17%;
    height: 100%;
    background-color: #08115f;
  }

  .opcoes {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .sair {
    display: flex;
    flex-direction: column;
    height: 25%;
    justify-content: center;
    width: 100%;
  }
  
  .menu-lateral a {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .header {
    height: 8%;
    width: 100%;
    margin: 0
  }
  
  .graficos {
    margin: 0;
    height: 100%;
    width: 83%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
  }

  .listaMenu {
    background-color: #0f0a3f;
    width: 85%;
    height: 50px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  body {
    background-color: #f1f1f1;
    height: 100vh;
  }

  .corpo {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  
  .boasVindas {
    display: flex;
    justify-content: space-between;

    background-color: #ffffff;
    height: 100%;
  }
  
  .textoBoasVindas {
    height: 100%;
    width: 180px;
    display: flex;
    align-items: center;

  }
  
  .boasVindas img {
    cursor: pointer;
  }
  
  .voltar {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    height: 100%;
    display: flex;
  }

  .chart-container {
    display: flex;
    width: 90%;
    justify-content: start;
  }

  .chart {
    width: 25%;
    height: 70%;
    margin-right: 10px;
  }

  #line-chart {
    width: 90%;
    height: 45%;
  }
  
  .list-machine {
    width: 300px;
    max-height: 199px; /* Defina o tamanho máximo desejado aqui */
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    overflow-x: auto; /* Adiciona uma barra de rolagem horizontal quando o conteúdo excede a largura máxima */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando o conteúdo excede a altura máxima */
  }
  
  .list-machine h4 {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    margin: 0;
    padding: 6px;
    font-size: 20px;
  }
  
  .list-machine p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 34px;
    border: 1px solid #ddd;
  }
  
  .list-machine::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }

  .graficos ::-webkit-scrollbar {
    background-color: transparent;
    border-left: 2px solid black;
    width: 5px;
  }
  
  .graficos ::-webkit-scrollbar-thumb {
    background-color: white;
    border: solid 1px;
    border-radius: 5px;
  }
  
  /* Estilos para cards superiores */
