@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  margin: 0px;
  font-family: 'Roboto Condensed', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: fit-content;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
}

.header {
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header img {
    height: 80px;
    width: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

hr {
    width: 80vw;
    height: 1px;
    opacity: 30%;
    margin-left: 9%;
}

.header hr {
    width: 1px;
    height: 50px;
    border: none;
    opacity: 10%;
    border-left: 1px solid #111;
}

.header button {
    width: 150px;
    border: none;
    background: linear-gradient(90deg, #0e0388 12.03%, #2d6af0 90.05%);
    color: #f1f1f1;
    font-weight: 550;
    font-size: 18px;
    height: 45px;
    cursor: pointer;
    border-radius: 15px;
}

.menuNav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.menuNav a {
    text-decoration: none;
    color: #111;
}

.fullbody {
    display: flex;
    flex-direction: column;
    height: 1000px;
}

.first_content {
    padding-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 470px;
    overflow-y: hidden;
}

.first_content .title1 {
    background: linear-gradient(90deg, #0e0388 15.00%, #2d6af0 85.00%);
    display: inline-block;
    font-size: 75px;
    color: #f1f1f1;
    font-weight: 800;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.first_content .title2 {
    color: #04021f;
    display: flex;
    justify-content: center;
    font-size: 45px;
}

.second_content {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    background-color: #04021f;
    width: 100%;
    height: 600px;
    color: #f1f1f1;
}

.sc_conteudo {
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: space-evenly;
}

.text_sc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 45%;
    height: 70%;
    font-size: 19px;
    font-weight: 100;
}

.image_sc {
    width: 37%;
    height: 90%;
    background-color: #f1f1f1;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.image_sc img {
    margin-left: -10px;
    width: 450px;
    height: fit-content;
}

.second_content h1 {
    display: flex;
    justify-content: flex-end;
    margin-right: 13%;
    font-size: 50px;
    height: 20%;
    align-items: center;    
}

.merchant_sc {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.merchant_content {
    height: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.merchant_content button {
    width: 90%;
    border: none;
    background: linear-gradient(90deg, #0e0388 12.03%, #2d6af0 90.05%);
    color: #f1f1f1;
    font-weight: 500;
    font-size: 28px;
    height: 55px;
    cursor: pointer;
    border-radius: 15px;
}

.merchant_content a {
    display: flex;
    margin-top: 15px;
    text-decoration: none;
    justify-content: center;
    width: 100%;
}

.third_content {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 460px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 18px;
}

.card_body img {
    width: 130px;
    height: auto;
}

.card_body h3 {
    font-size: 35px;
    font-weight: 700;
    color: #2740d1;
    transition: 0.3s;
}

.card_body h3:hover {
    color: #008cff;
}

.card_text {
    width: 80%;
    height: 45%;
    text-align: center;
    display: flex;
    align-items: start;
    justify-content: center;
}

.card_back {
    transition: all ease-in-out 0.3s;    
}

.card_animation {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.5s, transform 0.5s;
}

.card_animation.revealed {
    opacity: 1;
    transform: translateY(0);
}

.card_back:hover {
    transform: scale3d(1.1, 1.1, 1);
}

.fourth_content {
    height: 800px;
}

.carrossel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300%;
    height: 80%;
    margin-left: -000%;
}

.image_carrossel {
    height: 430px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.image_carrossel img {
    height: 400px;
}